<a href="https://colab.research.google.com/github/ayushbisht2001/MACHINE-LEARNING-WITH-TF/blob/main/heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from google.colab import files
import io

uploaded = files.upload()

Saving heart.csv to heart.csv

In [5]:
data = pd.read_csv(io.BytesIO(uploaded["heart.csv"]))
data = data.sample(frac = 1)
no_rows = data.size//data.columns.size

data.index = range(0,no_rows)

In [6]:
data.head(5)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   51    1   2       110   175    0  ...      0      0.6      2   0     2       1
1   39    1   2       140   321    0  ...      0      0.0      2   0     2       1
2   43    1   0       115   303    0  ...      0      1.2      1   0     2       1
3   42    1   3       148   244    0  ...      0      0.8      2   2     2       1
4   65    0   2       140   417    1  ...      0      0.8      2   1     2       1

[5 rows x 14 columns]

In [7]:
 col_to_norm = ["trestbps", "chol", "age", "thalach", "oldpeak", "slope", "thal"]

In [8]:
data[col_to_norm]

     trestbps  chol  age  thalach  oldpeak  slope  thal
0         110   175   51      123      0.6      2     2
1         140   321   39      182      0.0      2     2
2         115   303   43      181      1.2      1     2
3         148   244   42      178      0.8      2     2
4         140   417   65      157      0.8      2     2
..        ...   ...  ...      ...      ...    ...   ...
298       110   235   41      153      0.0      2     2
299       106   223   67      142      0.3      2     2
300       140   187   63      144      4.0      2     3
301       170   225   58      146      2.8      1     1
302       130   234   45      175      0.6      1     2

[303 rows x 7 columns]

In [9]:
data[col_to_norm] = data[col_to_norm].apply(lambda x: (x - x.min())/(x.max() - x.min()) )

In [10]:
data[col_to_norm].head(5)

   trestbps      chol       age   thalach   oldpeak  slope      thal
0  0.150943  0.111872  0.458333  0.396947  0.096774    1.0  0.666667
1  0.433962  0.445205  0.208333  0.847328  0.000000    1.0  0.666667
2  0.198113  0.404110  0.291667  0.839695  0.193548    0.5  0.666667
3  0.509434  0.269406  0.270833  0.816794  0.129032    1.0  0.666667
4  0.433962  0.664384  0.750000  0.656489  0.129032    1.0  0.666667

In [11]:
feat_trestbps = tf.feature_column.numeric_column("trestbps")
feat_chol = tf.feature_column.numeric_column("chol")
feat_age = tf.feature_column.numeric_column("age")
feat_thalach = tf.feature_column.numeric_column("thalach")
feat_oldpeak = tf.feature_column.numeric_column("oldpeak")
feat_slope = tf.feature_column.numeric_column("slope")
feat_thal = tf.feature_column.numeric_column("thal")

In [12]:
from tensorflow.keras import layers

In [13]:
feat_cols = [feat_trestbps, feat_chol, feat_age, feat_thalach, feat_oldpeak, feat_slope, feat_thal]

In [14]:
x_data = data.drop("target",axis = 1)

In [15]:
x_data.head(4)

        age  sex  cp  trestbps      chol  ...  exang   oldpeak  slope  ca      thal
0  0.458333    1   2  0.150943  0.111872  ...      0  0.096774    1.0   0  0.666667
1  0.208333    1   2  0.433962  0.445205  ...      0  0.000000    1.0   0  0.666667
2  0.291667    1   0  0.198113  0.404110  ...      0  0.193548    0.5   0  0.666667
3  0.270833    1   3  0.509434  0.269406  ...      0  0.129032    1.0   2  0.666667

[4 rows x 13 columns]

In [16]:
x_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        303 non-null    int64
 12  thal      303 non-null    float64
dtypes: float64(7), int64(6)
memory usage: 30.9 KB

In [17]:
labels = data["target"]

In [18]:
labels.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x_data,labels,test_size = 0.3,random_state = 102)

In [21]:
x_train

          age  sex  cp  trestbps  ...   oldpeak  slope  ca      thal
58   0.625000    1   0  0.660377  ...  0.161290    0.5   2  0.333333
284  0.604167    0   0  0.056604  ...  0.161290    0.5   0  0.666667
245  0.666667    1   0  0.509434  ...  0.000000    1.0   1  1.000000
44   0.354167    0   1  0.103774  ...  0.000000    1.0   0  0.666667
188  0.562500    1   3  0.245283  ...  0.306452    0.5   0  1.000000
..        ...  ...  ..       ...  ...       ...    ...  ..       ...
114  0.125000    1   0  0.245283  ...  0.258065    0.5   0  1.000000
242  0.604167    1   0  0.292453  ...  0.000000    1.0   2  1.000000
78   0.625000    0   0  0.754717  ...  0.000000    0.5   0  0.666667
243  0.812500    1   2  0.226415  ...  0.161290    1.0   1  1.000000
256  0.520833    1   0  0.264151  ...  0.516129    0.5   2  0.666667

[212 rows x 13 columns]

In [22]:
inp_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x= x_train, y=y_train, batch_size=10, num_epochs = 100, shuffle = True )

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/util/lazy_loader.py:63: The name tf.estimator.inputs is deprecated. Please use tf.compat.v1.estimator.inputs instead.

In [23]:
model = tf.compat.v1.estimator.LinearClassifier(feature_columns=feat_cols, n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp64heqxbn
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp64heqxbn', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [ ]:
model.train(input_fn=inp_func, steps=100)

In [25]:
evaluate_inp_fun = tf.compat.v1.estimator.inputs.pandas_input_fn(x=x_test, y=y_test, num_epochs = 100, batch_size = 10, shuffle = True)

In [ ]:
result = model.evaluate(evaluate_inp_fun)

In [40]:
result

{'accuracy': 0.73626375,
 'accuracy_baseline': 0.5934066,
 'auc': 0.8025526,
 'auc_precision_recall': 0.8587403,
 'average_loss': 0.5712563,
 'global_step': 100,
 'label/mean': 0.5934066,
 'loss': 5.7125626,
 'precision': 0.734375,
 'prediction/mean': 0.5487695,
 'recall': 0.8703704}

In [28]:
predict_inf_fun = tf.compat.v1.estimator.inputs.pandas_input_fn(x= x_test, y=y_test, num_epochs=1, batch_size=10, shuffle = False)

In [29]:
predictions = model.predict(predict_inf_fun)

In [30]:
predictions

In [ ]:
my_pred = list(predictions)

In [ ]:
my_pred

[{'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5043229], dtype=float32),
  'logits': array([0.01729199], dtype=float32),
  'probabilities': array([0.49567708, 0.5043229 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.3525018], dtype=float32),
  'logits': array([-0.60806036], dtype=float32),
  'probabilities': array([0.6474982 , 0.35250178], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.57566273], dtype=float32),
  'logits': array([0.3049934], dtype=float32),
  'probabilities': array([0.42433727, 0.57566273], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.25022537], dtype=float32),
  'logits': array([-1.0974108], dtype=float32),
  'probabilities': array([0.7497747 , 0.25022537], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.49088252], dtype=float32),
  'logits': array([-0.03647403], dtype=float32),
  'probabilities': array([0.5091175, 0.4908825], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.651756], dtype=float32),
  'logits': array([0.6267669], dtype=float32),
  'probabilities': array([0.34824395, 0.651756  ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.3570365], dtype=float32),
  'logits': array([-0.5882499], dtype=float32),
  'probabilities': array([0.64296347, 0.3570365 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.539416], dtype=float32),
  'logits': array([0.15799193], dtype=float32),
  'probabilities': array([0.46058396, 0.539416  ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.3359003], dtype=float32),
  'logits': array([-0.6816179], dtype=float32),
  'probabilities': array([0.6640997 , 0.33590028], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.41635612], dtype=float32),
  'logits': array([-0.33775008], dtype=float32),
  'probabilities': array([0.5836439 , 0.41635612], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5287402], dtype=float32),
  'logits': array([0.11508785], dtype=float32),
  'probabilities': array([0.4712598, 0.5287403], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5305101], dtype=float32),
  'logits': array([0.12219232], dtype=float32),
  'probabilities': array([0.46948987, 0.5305101 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.13403681], dtype=float32),
  'logits': array([-1.8657275], dtype=float32),
  'probabilities': array([0.8659631 , 0.13403685], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.30890703], dtype=float32),
  'logits': array([-0.805234], dtype=float32),
  'probabilities': array([0.69109297, 0.30890703], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.61021394], dtype=float32),
  'logits': array([0.44821155], dtype=float32),
  'probabilities': array([0.38978606, 0.61021394], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.59335595], dtype=float32),
  'logits': array([0.3778563], dtype=float32),
  'probabilities': array([0.40664402, 0.59335595], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.63001454], dtype=float32),
  'logits': array([0.5322792], dtype=float32),
  'probabilities': array([0.36998546, 0.63001454], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5539078], dtype=float32),
  'logits': array([0.2164727], dtype=float32),
  'probabilities': array([0.44609216, 0.5539078 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.34732682], dtype=float32),
  'logits': array([-0.6308104], dtype=float32),
  'probabilities': array([0.6526732 , 0.34732682], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5919264], dtype=float32),
  'logits': array([0.3719347], dtype=float32),
  'probabilities': array([0.4080736, 0.5919264], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5356694], dtype=float32),
  'logits': array([0.14292026], dtype=float32),
  'probabilities': array([0.46433064, 0.5356694 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.7028443], dtype=float32),
  'logits': array([0.86087936], dtype=float32),
  'probabilities': array([0.29715565, 0.7028443 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.554927], dtype=float32),
  'logits': array([0.22059834], dtype=float32),
  'probabilities': array([0.44507298, 0.554927  ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.70411193], dtype=float32),
  'logits': array([0.8669561], dtype=float32),
  'probabilities': array([0.29588807, 0.70411193], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.4206304], dtype=float32),
  'logits': array([-0.32018608], dtype=float32),
  'probabilities': array([0.5793696, 0.4206304], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.74484444], dtype=float32),
  'logits': array([1.0713019], dtype=float32),
  'probabilities': array([0.25515556, 0.74484444], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.6122486], dtype=float32),
  'logits': array([0.456774], dtype=float32),
  'probabilities': array([0.38775137, 0.6122486 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.44033912], dtype=float32),
  'logits': array([-0.23978586], dtype=float32),
  'probabilities': array([0.55966085, 0.44033912], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.35646302], dtype=float32),
  'logits': array([-0.5907491], dtype=float32),
  'probabilities': array([0.64353704, 0.35646304], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.7016892], dtype=float32),
  'logits': array([0.8553547], dtype=float32),
  'probabilities': array([0.2983108, 0.7016892], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.6816957], dtype=float32),
  'logits': array([0.7615758], dtype=float32),
  'probabilities': array([0.31830424, 0.68169576], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.610362], dtype=float32),
  'logits': array([0.44883412], dtype=float32),
  'probabilities': array([0.389638, 0.610362], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.2697029], dtype=float32),
  'logits': array([-0.99613035], dtype=float32),
  'probabilities': array([0.7302971, 0.2697029], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.4006343], dtype=float32),
  'logits': array([-0.40282297], dtype=float32),
  'probabilities': array([0.5993657, 0.4006343], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.68370163], dtype=float32),
  'logits': array([0.7708358], dtype=float32),
  'probabilities': array([0.31629834, 0.6837017 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.7035741], dtype=float32),
  'logits': array([0.8643761], dtype=float32),
  'probabilities': array([0.29642585, 0.7035742 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.51075536], dtype=float32),
  'logits': array([0.04302813], dtype=float32),
  'probabilities': array([0.4892446 , 0.51075536], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.6442142], dtype=float32),
  'logits': array([0.59370255], dtype=float32),
  'probabilities': array([0.35578576, 0.6442142 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5591407], dtype=float32),
  'logits': array([0.23767528], dtype=float32),
  'probabilities': array([0.44085935, 0.5591407 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.7721932], dtype=float32),
  'logits': array([1.220737], dtype=float32),
  'probabilities': array([0.22780679, 0.7721932 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.6743046], dtype=float32),
  'logits': array([0.7277193], dtype=float32),
  'probabilities': array([0.32569543, 0.6743046 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.39401376], dtype=float32),
  'logits': array([-0.43047148], dtype=float32),
  'probabilities': array([0.60598624, 0.39401373], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.66188306], dtype=float32),
  'logits': array([0.67169714], dtype=float32),
  'probabilities': array([0.33811694, 0.66188306], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.6620227], dtype=float32),
  'logits': array([0.6723212], dtype=float32),
  'probabilities': array([0.33797732, 0.66202277], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.7411275], dtype=float32),
  'logits': array([1.0518371], dtype=float32),
  'probabilities': array([0.25887248, 0.7411275 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5063884], dtype=float32),
  'logits': array([0.02555506], dtype=float32),
  'probabilities': array([0.49361157, 0.5063884 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.2314345], dtype=float32),
  'logits': array([-1.2002289], dtype=float32),
  'probabilities': array([0.7685655 , 0.23143448], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.2641961], dtype=float32),
  'logits': array([-1.0242721], dtype=float32),
  'probabilities': array([0.73580396, 0.2641961 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.74528146], dtype=float32),
  'logits': array([1.0736029], dtype=float32),
  'probabilities': array([0.2547185 , 0.74528146], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5654408], dtype=float32),
  'logits': array([0.26327342], dtype=float32),
  'probabilities': array([0.4345592, 0.5654408], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.72698045], dtype=float32),
  'logits': array([0.979356], dtype=float32),
  'probabilities': array([0.27301958, 0.7269804 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.6970663], dtype=float32),
  'logits': array([0.8333666], dtype=float32),
  'probabilities': array([0.3029337, 0.6970663], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.34387836], dtype=float32),
  'logits': array([-0.6460583], dtype=float32),
  'probabilities': array([0.6561217 , 0.34387833], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.29322165], dtype=float32),
  'logits': array([-0.8797883], dtype=float32),
  'probabilities': array([0.70677835, 0.29322165], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.62885404], dtype=float32),
  'logits': array([0.5273037], dtype=float32),
  'probabilities': array([0.37114593, 0.628854  ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'logistic': array([0.39348716], dtype=float32),
  'logits': array([-0.4326775], dtype=float32),
  'probabilities': array([0.6065129, 0.3934872], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.7032076], dtype=float32),
  'logits': array([0.8626192], dtype=float32),
  'probabilities': array([0.2967924 , 0.70320755], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.5829406], dtype=float32),
  'logits': array([0.3348565], dtype=float32),
  'probabilities': array([0.41705945, 0.5829406 ], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.71913046], dtype=float32),
  'logits': array([0.94015265], dtype=float32),
  'probabilities': array([0.2808695 , 0.71913046], dtype=float32)},
 {'all_class_ids': array([0, 1], dtype=int32),
  'all_classes': array([b'0', b'1'], dtype=object),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'logistic': array([0.6968017], dtype=float32),
  'logits': array([0.83211404], dtype=float32),
  'probabilities': array([0.30319822, 0.6968017 ], dtype=float32)},